[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ocrmypdf = "*"
pymupdf = "*"
openai = "*"
pdf2image = "*"
python-poppler = "*"

[dev-packages]

[requires]
python_version = "3.12"
